@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fdf4e3;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: blue;
}

div {
    background-color: #cbcccb;
    width: 500px;
    border: 15px solid #cbcccb;
    padding: 50px;
    margin: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}

p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

.section {
    scroll-margin-top: 50px; /* Adjust as needed */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    background-color: #cccccc;
}
