@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text */
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
.manual_h1 {
    @apply antialiased font-extrabold mb-6 text-gray-700 dark:text-stone-400;
}
.manual_p {
    @apply antialiased text-3xl font-medium leading-snug tracking-normal text-wrap text-stone-600 dark:text-neutral-400;
}

/* Sidebar */
.sidebar {
    @apply z-50 fixed top-1/2 left-4 w-28 h-auto pt-2 pb-2 flex items-center flex-col bg-white bg-opacity-20 dark:bg-black dark:bg-opacity-20 backdrop-blur-lg transform -translate-y-1/2 rounded-3xl;
}
.sidebar:hover {
    @apply w-[21rem] duration-300;
}
.sidebar_links {
    @apply list-none overflow-y-hidden;
    height: calc(100% - 140px);
}
.sidebar_links::-webkit-scrollbar {
    display: none;
}
.sidebar_links li {
    @apply flex items-center;
}
.sidebar_links li:hover {
    @apply cursor-pointer bg-white bg-opacity-80 dark:bg-black dark:bg-opacity-25 rounded-lg w-[20rem];
}
.sidebar_svg {
    @apply flex w-16 h-16 p-2 fill-gray-700 dark:fill-stone-400;
}
.sidebar_span {
    @apply antialiased align-middle text-xl font-semibold pl-1 text-gray-700 dark:text-stone-400;
}

/*Content specific classes*/
.educ_title {
    @apply text-gray-700 dark:text-stone-400 text-opacity-90 text-4xl font-semibold mb-2 sm:mb-0;
}
.educ_time {
    @apply sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center uppercase w-40 h-6 mb-3 sm:mb-0 text-stone-600 dark:text-neutral-400 text-sm font-semibold bg-white bg-opacity-50 rounded-2xl;
}
.educ_desc {
    @apply text-stone-600 dark:text-neutral-400 text-xl;
}
.educ_skills {
    @apply max-w-fit pl-1 pr-1 mr-1 mb-1 text-stone-600 dark:text-neutral-400 text-base font-semibold bg-white bg-opacity-50 uppercase text-center rounded-md;
}